In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [53]:
import test_library

In [54]:
re = test_library.fetch_price()

In [55]:
test_df = pd.DataFrame(re).set_index("time")
test_df.head()

,open,close,high,low,vol,amount,realOpen,realClose,realHigh,realLow
time,,,,,,,,,,
1716268260,71040.4,71028.0,71041.0,71022.0,0.0,0.0,71028.0,71028.0,71028.0,71028.0
1716268320,71028.0,70987.0,71033.3,70987.0,0.0,0.0,70987.0,70987.0,70987.0,70987.0
1716268380,70987.0,70990.1,70995.8,70982.0,0.0,0.0,70990.1,70990.1,70990.1,70990.1
1716268440,70990.1,70943.4,70990.1,70943.4,0.0,0.0,70943.4,70943.4,70943.4,70943.4
1716268500,70943.4,70933.9,70943.4,70870.1,0.0,0.0,70933.9,70933.9,70933.9,70933.9